 <section class="birdCard pb-3">
        
        <ul class="imageCard list-group list-group-flush w-75 mx-auto rounded opacity-75">
            <li class="list-group-item">Title: {{name}}</li>
            <li class="list-group-item">Contents: {{name}}</li>
            <li class="list-group-item">Created by: {{name}}</li>
            <li class="list-group-item">Created on: {{name}}</li>
        </ul>
    
    </section>