{{!-- TODO: Delete does not destroy the card --}}
<section class="event-card card mb-2 opacity-75 ">
    <a href="/journal/{{id}}" class="text-decoration-none text-secondary">
        <dl class="row">
                    <dt class="col-sm-3">Title: </dt> <dd class="col-sm-9"><p>{{title}}</p></dd>
                    <dt class="col-sm-3">Created on: </dt> <dd class="col-sm-9">{{date}}<p></p></dd>
                    <dt class="col-sm-3">Contents: </dt> <dd class="col-sm-9">{{description}}<p></p></dd>
                    <dt class="col-sm-3"></dt> <dd class="col-sm-9"><p></p></dd>
        
        </dl>    

    </a>
    {{!-- <button class="delete-event-button btn btn-outline-danger m-1">Delete</button> --}}
</section>
