

<div class="journal-header">
    <div class="header-container">
        <h4>Title: {{event.title}}</h4>
        <h5>Created: {{event.date}}</h5>
        <h5>Created by: {{name}}</h5>
        <h5>Contents: {{event.description}}</h5>
    </div>
</div>
    </form>

<div class="container">
{{> birdForm-details}}
</div>

<section id="birdCard">
    <div>
        {{#each event.Birds}}
        {{> bird-details}}
        {{/each}}
    </div>
    <div class="sightingCard">
        {{#each sightings}}
        {{> sighting-details}}
        {{/each}}
    </div>  
</section>

